@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #F0F0F0;
}
nav {
    height: 453px;
    width: 100%;
    left: 40px;
    top: 40px;
    border-radius: 0px;
    padding: 24px 16px 24px 16px;
    position: absolute;
    background: #FFFFFF;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
}

h2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.specifications h2 {
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 16px 0;
}
svg {
    height: 8px;
    width: 16px;
    border: 0px solid #717786;
}

table {
    height: 72px;
    width: 100%;
    border-radius: 4px;
    position: static;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
table tr:nth-child(odd) { /* pseudo seletor */
    background-color: #F3F9FF;
}


/*mobile first*/
table td { /*mobile*/
    display: flex;
    flex-direction: column;  
}
@media (min-width: 769px) { /*desktop*/
    table td {
        flex-direction: row;
    }
}


/*desktop-first*/
table td span { /*desktop*/
    width: 50%;
    padding: 12px 16px 12px 16px;
}
@media (max-width: 768px) { /*mobile*/
    table td span {
        width: 100%;
    }
}


table td span:first-child {
    color: #717786;
    border-right: 4px solid #FFFFFF;
}
@media (max-width: 768px) {
    table td span:first-child {
        border-right: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 768px) {
    table td span:last-child {
        padding-top: 0;
    }
}
